[submodule "vmi"]
	path = vmi
	url = https://github.com/TransparentHealth/vmi.git
[submodule "smh_app"]
	path = smh_app
	url = https://github.com/TransparentHealth/smh_app.git
[submodule "sharemyhealth"]
	path = sharemyhealth
	url = https://github.com/TransparentHealth/sharemyhealth.git
